# Ignore tests
lua/mkdnflow/tests.lua
plugin/tests.lua
doc/tags
assets/logo/*.xdv
assets/logo/*.synctex.gz
assets/logo/*.fls
assets/logo/*.log
assets/logo/*.pdf
assets/logo/*.aux
assets/logo/*.fdb_latexmk
assets/demo/sources
