# Ignore tests
lua/mkdnflow/tests.lua
plugin/tests.lua
doc/tags
assets/logo/mkdnflow_logo.xdv
assets/logo/mkdnflow_logo.synctex.gz
assets/logo/mkdnflow_logo.fls
assets/logo/mkdnflow_logo.log
assets/logo/mkdnflow_logo.pdf
assets/logo/mkdnflow_logo.aux
assets/logo/mkdnflow_logo.fdb_latexmk
assets/demo/sources
